.outer{
    height: 100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: radial-gradient(circle at 10% 20%, rgb(148, 241, 246) 0%, rgb(148, 189, 246) 100.7%);  
  
  }
  h1{
        margin-top:90px ;
        margin-bottom: 40px;
        font-weight: bold;
     
  }
  .mat-icon-button {
      width: 24px; 
      height: 24px; 
      font-size: 16px; 
    }
  
    .mat-mdc-fab:not(.mdc-fab--extended), .mat-mdc-mini-fab:not(.mdc-fab--extended) {
      border-radius: var(--mdc-fab-container-shape);
      height: 30;
      width: 30px;
      margin-left:20px
  
  }
  
  .mat-elevation-z8{
    
  
      min-width:1400px !important;
      border-radius: 20px !important;
  
  } 
  .mat-mdc-header-cell{
      background-color: rgb(16, 17, 18) !important;
      color: white;
      border-left: 1px solid white;
  }

  .round{
    height: 30px;
    width:30px;
    border-radius: 50%;
    color: green;
  }