

<div class="outer">
 
   
         
    <form (ngSubmit)="createLeave()" #form ="ngForm" >
        <h1>Apply Leave</h1>
        <div class="form-group" style="width: 80%;">
            <label>Employee ID</label>
            <div>
              <input class="form-control" type="number" name="e_id" [(ngModel)]="addLeaves.e_id" required pattern="[A-Za-z\s]+" >
            </div>
          </div>
          <div class="form-group d-flex justify-content-between" style="width: 80%;">
            <div class="col-5">
                <label>From Date</label>
                <div>
                  <input class="form-control" type="date"name="from_date"  [(ngModel)]="addLeaves.from_date" required pattern="[A-Za-z\s]+" >
                </div>
            </div>

            <div class="col-5">
                <label >To Date</label>
                <div>
                  <input class="form-control" type="date"  name="to_date"  [(ngModel)]="addLeaves.to_date" required pattern="[A-Za-z\s]+" >
                </div>
            </div>
       
           
          </div>
         
         
          <div class="form-group" style="width: 80%">
            <label >Reason</label>
            <div>
              <input style="height:100px" class="form-control" type="text" name="reason"[(ngModel)]="addLeaves.reason" required pattern="[A-Za-z\s]+" >
            </div>
          </div>
         

        <button type="ngSubmit" class="btn btn-info mb-2 mt-2" style="align-items: left;width: 80%;"  >Submit</button>

    </form>






</div>