

    .outer{
        height: 90vh;
        width:100%;        
        display:flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(89.2deg, rgb(191, 241, 236) 22.3%, rgb(109, 192, 236) 84.1%);
       
    }
     
     
     
    form{
    border: 1px solid black;
    height:80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
     
    }
     
    form h1{
        font-size: 34px;
        font-weight: 500;
        background: linear-gradient(89.2deg, rgb(191, 241, 236) 22.3%, rgb(109, 192, 236) 84.1%);
        margin-top: -53px;
    }               